
@{
    ViewBag.Title = "_HomePersonPartialGold";
}

<div class="col-md-4">
    <div class="col-md-12">
        <div class="col-md-9">
            <img class="home-main-star-person" src="~/Content/images/homePerson.png" />
        </div>
        <div class="col-md-3 home-main-star-person-text">
            <div class="home-main-star-person-text-name-gold">
                test
            </div>
            <div class="home-main-star-person-text-info-gold">
                test <br />test<br />test
            </div>
        </div>
    </div>
</div>

