
@{
    ViewBag.Title = "AgentDashboard";
}

<div class="agent">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 agent-main">
                <div class="col-md-12">
                    <img src="~/Content/images/agentLogo.png" />
                </div>
                <div class="col-md-12 agent-margin">
                    <div class="col-md-2 agent-tag agent-tag-color-1">Production House</div>
                    <div class="col-md-2 agent-tag agent-tag-color-2">Production House</div>
                    <div class="col-md-2 agent-tag agent-tag-color-3">Production House</div>
                    <div class="col-md-2 agent-tag agent-tag-color-4">Production House</div>
                </div>
                <div class="clearfix"></div>
                <div class="agent-text">
                    With a new approach to the industry. Which focuses on creative, With a new approach to the industry. Which focuses on creative, With a new approach to the industry. Which focuses on creative 
                    <br /> <br />
                    With a new approach to the industry. Which focuses on creative, With a new approach to the industry. Which focuses on creative
                </div>
                <div class="clearfix"></div>
                <div class="agent-social">
                    <a href="#"><img src="~/Content/images/agentFacebook.png" /></a>
                    <a href="#"><img src="~/Content/images/agentTwitter.png" /></a>
                    <a href="#"><img src="~/Content/images/agentInstagram.png" /></a>
                    <a href="#"><img src="~/Content/images/agentYoutube.png" /></a>
                    <a href="#"><img src="~/Content/images/agentVemo.png" /></a>
                </div>
                <div class="clearfix"></div>
                <div class="agent-link"><a href="#">www.tv-vision.com</a></div>
            </div>
        </div>
    </div>
</div>

