
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="home">
    <div class="container">
        <div class="row row-centered login-main-div">
            <div class="col-md-4 col-centered login-div no-padding">
                <div class="login-border">
                    <img class="login-logo-img" src="~/Content/images/loginLogo.png" />
                </div>
                <form id="login-form" method="post" action="/@CastingStars.Helpers.CultureHelper.GetCurrentCulture()/forgotpassword" class="login-form" novalidate="novalidate">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input placeholder="@CastingStars.Resources.Resources.Register_Email" id="Email" name="Email" type="email" class="full-width">
                        </div>
                    </div>
                    <div class="form-group login-button-div">
                        <button class="login-button" type="submit">@CastingStars.Resources.Resources.Forgot_Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script>
    $("#login-form").validate({
        ignore: [],
        rules: {
            Email: { required: true, email: true }
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent());
        }
    });
</script>

